
body {
    color: black;
    background-color: white;
    padding-left: 11em;
}

p.error {
    color: black;
}

ul.error {
    color: black;
    background-color: #FFAFAF;
}

table.actions {
  background-color: #CFCFFF;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}

tr.required {
  color: black;
  background-color: #AFFFAF;
}

em.required {
  color: black;
  background-color: #AFFFAF;
}
