/* Allgemeine Styles */
body, table, td, tr, div, p, pre, h1, h2, h3, h4, ul {
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif; }
body, p, pre, ul { font-size: 12px; vertical-align: top; }
body { background-color: #FFFFFF; margin: 0px; padding: 0px; }
td, div {font-size: 12px; vertical-align: middle; }
th { text-align: left; font-weight: bold; }

/* Ueberschriften */
h1 { font-size: 18px; }
h2 { font-size: 16px; font-weight: bold; margin: 8px 0px 12px 40px;
     border-bottom: 1px solid #000000; }
h3 { font-size: 13px; font-weight: bold; }

/* Textformate */
.normal { font-size: 12px; }
.small  { font-size: 11px; }
.tiny   { font-size: 10px; }

.invert { color: #000000; background-color: #E0E2D4;
          font-weight: bold; letter-spacing: 2px; font-size: 15px; }

.center { text-align: center; }

.emph   { font-weight: bold; }

/* Allgemeine Links */
a         { font-size: 13px; text-decoration: none; font-weight: bold; }
a:link    { color: #AD351A; }
a:visited { color: #AD351A; }
a:active  { color: #000000; }
a:hover   { color: #FF4D00; }

a.markedmenuitem { font-size: 13px; text-decoration: none; font-weight : bold; color: #FF0000; }

/* Allgemeine Tabellen */
table      { border-style: none;
             border-spacing: 0px;
             padding: 0px;
             margin: 0px;
           }

/* Tabelle fuer das linke Menue */
table.menu  { border-style: none;
              width: 150px;
              padding: 10px;
              vertical-align: top;
              text-align: left;
              background-color: #F5FBFF;
            }
td.menu { width: 150px;
          background-color: #F5FBFF; vertical-align: top;
          margin-bottom: 10px; }

/* Links im Menue */
a.menu         { font-size: 13px; text-decoration: none; font-weight : bold; }
a.menu:link    { color: #000000; }
a.menu:visited { color: #000000; }
a.menu:active  { color: #000000; }
a.menu:hover   { color: #2F2F2F; }

/* Tabelle fuer den Seiteninhalt */
table.body { width: 100%; vertical-align: top; }
td.body { padding: 2px 10px; }

/* Tabelle fuer die Kopfzeile */
table.header { width: 100%; background-color: #DBE9EC; }

/* Tabelle fuer die Fusszeile */
table.footer { width: 100%; background-color: #DBE9EC; }

/* Tabelle fuer Formulare */
table.formtable { font-size: 13px;
                  background-color: #DEEBEF;
                  border-style: solid;
                  border-width: 1px;
                  border-color: #404040;
                  margin: 6px 10px;
                  padding: 8px;
                }

/* Schaltflaechen und Eingabefelder */
input, button { font-size: 12px;
        background-color: #F7FBFF;
        border-style: solid;
        border-width: 1px;
        border-color: #404040;
        margin: 2px 4px;
        padding: 2px 4px;
      }

input.button, button { font-weight: bold; background-color: #CEDBEF;
                       min-width: 100px; text-align: center; padding: 2px 8px; 
                       text-align: center; 
                     }

/* Tabelle mit Linien zur Darstellung von Listen */
table.list { border-style: solid;
             border-width: 1px;
             border-color: #404040;
             font-size: 12px; 
             margin: 6px 10px;
             padding: 0px;
             background-color: #F7FBFF;
           }
.listheader { text-align: left; font-size: 12px; padding: 2px 8px;
                font-weight: bold; background-color: #DBE9EC;
                border-bottom: 1px #404040 solid; }
.listitem-1 { text-align: left; font-size: 12px; padding: 2px 8px;
                background-color: #F7FBFF; }
.listitem-2 { text-align: left; font-size: 12px; padding: 2px 8px;
                background-color: #E0E2E4; }

a.list:link    { color: #000000; }
a.list:visited { color: #000000; }
a.list:active  { color: #000000; }
a.list:hover   { color: #2F2F2F; }

/* Meldungen */
p.message { width: 60%; color: #FF2600; background-color: #FFF0E0;
            border: 1px solid #A00000; margin: 6px 10px; padding: 4px 12px;
            font-size: 13px; font-weight: bold; text-align: center;
          }

p.message-ok { width: 60%; color: #20A028; background-color: #E0FFF0;
               border: 1px solid #80A080; margin: 6px 10px; padding: 4px 12px;
               font-size: 13px; font-weight: bold; text-align: center;
             }

p.message2 { width: 60%; }
