/* Zentrales Style Sheet fuer php1 */

/* Seitenhintergrund */
        body { background-color:#D9FFCF; }

/* Links */
        a:link { color:#0000ee; }
        a:visited { color:#551a8b; }
        a:active { color:#00aa00; }

/* Tabellen */
        /* header */
		td.header { color:#26003A; font-family:Verdana,Helvetica,Arial,sans-serif; font-size:24pt;
		         font-weight:bold;  vertical-align:middle; line-height:130%;} 
		
		/* navigator */
		td.nav { background-color:#400040; color:#82FF82; 
		     font-family:Verdana,Helvetica,Arial,sans-serif; font-size:11pt;
             font-weight:bold ;vertical-align:middle; line-height:130%; text-align:center;
			  margin-left:80px; margin-right:70px; min-height:300; height:30; border-width:medium; }
			  
        a.nav { color:#82FF82; text-decoration:none; }
		a.nav:visited { color:#82FF82;}
        a.navact { color:#82FF82; text-decoration:underline; }
		a.navact:visited { color:#82FF82;}
		
		/* navigator2 */

		td.nav2 { background-color:#D9FFCF; color:#26003A;
		     font-family:Verdana,Helvetica,Arial,sans-serif; font-size:11pt;
             font-weight:bold ;vertical-align:middle; line-height:130%; text-align:center;
			  margin-left:80px; margin-right:70px; min-height:300; height:30; border-width:medium; }
			  
		a.nav2 { background-color:#D9FFCF; color:#26003A;
		     font-family:Verdana,Helvetica,Arial,sans-serif; font-size:11pt;
             font-weight:bold ; line-height:130%; text-align:left;
			   height:30; border-width:medium; }	
			     
		td.nav3 { background-color:#400040; color:#82FF82; 
		     font-family:Verdana,Helvetica,Arial,sans-serif; font-size:11pt;
             font-weight:bold ;vertical-align:middle; line-height:130%; text-align:center;
			  margin-left:80px; margin-right:70px; min-height:300; height:3; border-width:medium; }

/* Ende der Stylesheet Definitionen */
