/* Allgemeine Styles */
body, table, th, td, tr, div, p, pre, h1, h2, h3, ul, ol
{
  font-family: "Trebuchet MS" , Arial, Helvetica, Sans-Serif;
}

body, p, pre, ul, ol
{
  font-size: 12px;
  vertical-align: top;
}
ul, ol
{
  /* margin: 10px */
}
body
{
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}
td, div
{
  font-size: 12px;
  vertical-align: middle;
}
th
{
  text-align: left;
  font-weight: bold;
}

/* Ueberschriften */
h1
{
  font-size: 18px;
}
h2
{
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0px 12px 40px;
  border-bottom: 1px solid #000000;
}
h3
{
  font-size: 13px;
  font-weight: bold;
}

/* Textformate */
.normal
{
  font-size: 12px;
}
.small
{
  font-size: 11px;
}
.tiny
{
  font-size: 10px;
}
.invert
{
  color: #000000;
  background-color: #E0E2D4;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
}
.center
{
  text-align: center;
}
.emph
{
  font-weight: bold;
}
.weak
{
  font-weight: normal;
  color: #A0A0A0;
}
.alert
{
  font-weight: bold;
  color: #FF2600;
  margin: 2px 10px;
}
.invalid
{
  color: #FF2600;
  background-color: #FFF0E0;
}
.renderTime
{
  font-size: 10px;
  font-weight: normal;
  color: #555555;
  text-align: right;
}

/* Allgemeine Links */
a
{
  text-decoration: none;
  font-weight: bold;
}
a:link
{
  color: #1A35AD;
}
a:visited
{
  color: #1A35AD;
}
a:active
{
  color: #000000;
}
a:hover
{
  color: #004DFF;
}
a.email
{
  color: #004DFF;
  padding-left: 12px;
  background-image:url('images/mail.gif');
  background-repeat: no-repeat;
  background-position: left;
}
a.link
{
  padding-left: 12px;
  background-image:url('images/link.gif');
  background-repeat: no-repeat;
  background-position: left;
}
a.order
{
  padding-left: 12px;
  background-image:url('images/order.gif');
  background-repeat: no-repeat;
  background-position: left;
  white-space: nowrap;
}
a.order-active
{
  color: #FF2600;
  padding-left: 12px;
  background-image:url('images/order-active.gif');
  background-repeat: no-repeat;
  background-position: left;
  white-space: nowrap;
}
a.buttonlink
{
  /*font-family: Verdana, Arial, Sans-Serif;*/
  font-size: 10px;
  font-weight: normal;
  color: #000000;
  background-color: #F7FBFF;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  margin: 1px 4px;
  padding: 1px 2px;
  white-space: nowrap;
}

/* Allgemeine Tabellen und Formulare */
table, form
{
  border-style: none;
  /* IE FIX */
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}

/* Tabelle fuer das linke Menue */
table.menu
{
  border-style: none;
  width: 150px;
  padding: 10px;
  vertical-align: top;
  text-align: left;
  background-color: #F4F8FF;
}
td.menu
{
  width: 150px;
  background-color: #F5FBFF;
  vertical-align: top;
  margin-bottom: 10px;
}
td.submenu
{
  width: 150px;
  background-color: #F5FBFF;
  vertical-align: top;
  padding-left: 10px;
  margin-bottom: 4px;
}

/* Links im Menue */
a.menu
{
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}
a.menu:link
{
  color: #1A35AD;
}
a.menu:visited
{
  color: #1A35AD;
}
a.menu:active
{
  color: #004DFF;
}
a.menu:hover
{
  color: #004DFF;
}

a.submenu
{
  font-size: 12px;
  text-decoration: none;
  font-weight: normal;
}
a.submenu:link
{
  color: #1A359D;
}
a.submenu:visited
{
  color: #1A359D;
}
a.submenu:active
{
  color: #004DFF;
}
a.submenu:hover
{
  color: #004DFF;
}

a.markedmenu
{
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  /* color: #FF2600; */
  border-top: 1px #FF0000 solid;
  border-bottom: 1px #FF0000 solid;
}
a.markedsubmenu
{
  font-size: 12px;
  text-decoration: none;
  font-weight: normal;
  /* color: #FF2600; */
  border-top: 1px #FF0000 solid;
  border-bottom: 1px #FF0000 solid;
}

/* Tabelle fuer den Seiteninhalt */
table.body
{
  width: 100%;
  vertical-align: top;
}
td.body
{
  vertical-align: top;
  padding: 2px 10px;
}

/* Tabelle fuer die Kopfzeile */
table.header
{
  width: 100%;
  background-color: #DBE9EC;
}

/* Tabelle fuer die Fusszeile */
table.footer
{
  width: 100%;
  background-color: #DBE9EC;
}

/* Tabelle fuer Formulare */
table.formtable
{
  font-size: 13px;
  background-color: #DEEBEF;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  margin: 6px 10px;
  padding: 8px;
}
table.formlist {
  margin: 2px;
}
.formlistheader
{
  padding: 0px 8px;
  border-top: 1px #404040 solid;
  border-bottom: 1px #404040 solid;
}
.formlistitem
{
  padding: 0px 8px;
  border-bottom: 1px #404040 solid;
}

/* Schaltflaechen und Eingabefelder */
.button
{
  /*font-family: Verdana, Arial, Sans-Serif;*/
  font-weight: bold;
  background-color: #CEDBEF;
  text-align: center;
  padding: 2px 8px;
}

.smallbutton
{
  /*font-family: Verdana, Arial, Sans-Serif;*/
  font-size: 10px;
  font-weight: normal;
  background-color: #F7FBFF;
  text-align: center;
  padding: 1px 2px;
}

.button120
{
  /*font-family: Verdana, Arial, Sans-Serif;*/
  font-weight: bold;
  background-color: #CEDBEF;
  min-width: 120px;
  text-align: center;
  padding: 2px 8px;
}
input, textarea, button
{
  /*font-family: Arial, Helvetica, Sans-Serif;*/
  font-size: 12px;
  background-color: #F7FBFF;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  margin: 1px 4px;
  padding: 2px 4px;
}
textarea
{
  font-family: Arial, Sans-Serif;
  font-size: 11px;
}

/* Tabelle zur Darstellung der Hilfe */
table.helptext
{
  border-style: solid;
  border-width: 1px;
  border-color: #222222;
  font-size: 13px;
  color: #222222;
  margin: 6px 10px;
  padding: 4px 12px;
  background-color: #EEEEEE;
}


/* Tabelle zur Darstellung von Listen */
table.list
{
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  font-size: 12px;
  margin: 6px 10px;
  padding: 0px;
  background-color: #F7FBFF;
}
.listheader
{
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  background-color: #DBE9EC;
  border-bottom: 1px #404040 solid;
  padding: 2px 8px;
  margin: 0px;
}
.listitem-1
{
  text-align: left;
  font-size: 12px;
  padding: 1px 8px;
  margin: 0px;
  background-color: #FAFAFA;
}
.listitem-2
{
  text-align: left;
  font-size: 12px;
  padding: 1px 8px;
  margin: 0px;
  background-color: #E4E4E4;
}
.listitem-alert-1
{
  text-align: left;
  font-size: 12px;
  padding: 1px 8px;
  margin: 0px;
  color: #FF2600;
  background-color: #FABABA;
}
.listitem-alert-2
{
  text-align: left;
  font-size: 12px;
  padding: 1px 8px;
  margin: 0px;
  color: #FF2600;
  background-color: #E4A4A4;  
}

a.list:link
{
  color: #000000;
}
a.list:visited
{
  color: #000000;
}
a.list:active
{
  color: #000000;
}
a.list:hover
{
  color: #2F2F2F;
}

/* Tabelle zur Darstellung von Profilen, Datentabellen etc */
table.viewtable
{
  font-size: 13px;
  background-color: #F5FBFF;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
  margin: 6px 10px;
  padding: 8px;
}
table.subviewtable
{
  font-size: 12px;
  background-color: #F5FBFF;
  border-style: dashed;
  border-width: 1px;
  border-color: #404040;
  width: 90%;
  margin: 6px 10px;
  padding: 8px;
}
.viewheader
{
  font-weight: bold;
}
.viewlineWrap
{
  border-top: 1px #808080 solid;
}
.viewline
{
  border-top: 1px #808080 solid;
  white-space: wrap;
}

/* Meldungen */
p.message-failed
{
  width: 85%;
  color: #FF2600;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #FFF0E0;
  border: 1px solid #A00000;
  margin: 6px 10px;
  padding: 4px 12px;
}
p.message-ok
{
  width: 85%;
  color: #20A028;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #E0FFF0;
  border: 1px solid #80A080;
  margin: 6px 10px;
  padding: 4px 12px;
}
p.message
{
  width: 85%;
  color: #222222;
  font-size: 13px;
  /* font-weight: bold; */
  text-align: left;
  background-color: #EEEEEE;
  border: 1px solid #222222;
  margin: 6px 10px;
  padding: 4px 12px;
}

/* Statusanzeigen fuer Dokumente, Rollen etc. */
span.status-reviewed   { font-weight: normal; color: #000000; }
span.status-unreviewed { font-weight: normal; color: #A00000; }
span.status-critical   { font-weight: bold;   color: #FF2600; }
span.status-accepted   { font-weight: bold;   color: #00A000; }
span.status-rejected   { font-weight: bold;   color: #A0A0A0; }

span.role_active       { font-weight: bold;   color: #000000; }
span.role_passive      { font-weight: bold;   color: #A0A0A0; }
span.role_request      { font-weight: bold;   color: #FF0000; }

span.attitude-none     { font-weight: normal; color: #000000; }
span.attitude-prefer   { font-weight: bold;   color: #00A000; }
span.attitude-deny     { font-weight: bold;   color: #A00000; }
span.attitude-exclude  { font-weight: bold;   color: #FF2600; }

span.diststatus-0   { font-weight: bold; color: #000000; } /* assigned */
span.diststatus-1   { font-weight: normal; color: #000000; } /* suggested, kommt nicht vor */
span.diststatus-2   { font-weight: bold;   color: #0000A0; } /* neutral */
span.diststatus-3   { font-weight: bold;   color: #A0A000; } /* prefers topic */
span.diststatus-4   { font-weight: bold;   color: #00A000; } /* prefers paper */
span.diststatus-5   { font-weight: normal;   color: #A00000; } /* denies paper, kommt nicht vor */
span.diststatus-6   { font-weight: normal;   color: #FF0000; } /* excluded paper, kommt nicht vor */
