body, table, td, tr, div, p, pre, h1, h2, h3, h4, ul {
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif; }
body, td, div, p, pre, ul { font-size: 13px; }
body { background-color: #FFFFFF; }

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 13px; }

.normal { font-size: 12px; }
.small  { font-size: 11px; }
.tiny   { font-size: 10px; }

.invert { color: #000000; background-color: #E0E2D4;
          font-weight: bold; letter-spacing: 2px; font-size: 15px; }

a         { font-size: 13px; text-decoration: none; font-weight : bold; }
a:link    { color: #AD351A; }
a:visited { color: #AD351A; }
/* #78534A; */
a:active  { color: #000000; }
a:hover   { color: #FF4D00; }

/* links im menue */
a.menue         { font-size: 13px; text-decoration: none; font-weight : bold; }
a.menue:link    { color: #000000; }
a.menue:visited { color: #000000; }
a.menue:active  { color: #000000; }
a.menue:hover   { color: #2F2F2F; }

/* tabelle mit linien zur darstellung von listen */
table.list  { border-style:groove; } 
td.listhead { margin-left: 10px; font-size: medium; background-color: #DBE9EC; 
              text-align: center; font-weight: bold; }
td.list     { text-align: center; font-weight: bold; }
td.z1       { text-align: center; font-weight: bold; }            


a.list:link    { color: #000000; }
a.list:visited { color: #000000; }
a.list:active  { color: #000000; }
a.list:hover   { color: #2F2F2F; }

/* meldungen */
p.message { color: #FF2600; font-size: 16px; font-weight: bold; }

